body {
  padding-top: 70px;
}

ul {
  list-style-type: none;
}

ul.dropdown-menu>li{
  width:100%;
  text-align: center;
  font-weight: 600;
}

body>div.container {
  width: 80%;
  margin: auto;
}
.page {
  min-height: 95vh;
}

footer {
  background-color: black;
  color: #ccc;
  padding: 3px;
  min-height: 5vh;
}

#disclaimer {
  width: 80%;
  margin: auto;
  font-size: 0.6em;
}

@media only screen and (max-width: 600px) {
  body>div.container {
    width: 100%;
    padding: 0;
  }

  table {
    width: 100%;
  }
}
