body {
  padding-top: 0px;
}
#cv-inline-container {
  border: 0;
}

@media print {
    .newPage {
      padding-top:10mm;
      page-break-before: always;
    }
}
@page { size: auto;  margin: 0mm 10mm; }
